<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tarefas</title>
</head>
<body>

<nav>
    <div class="grey lighten-2 nav-wrapper">
        <img style="max-height: 56px; width: auto; height: auto;" src="../images/Logo ABControl - Sem fundo.png" alt="ABControl" />
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><b><a class="orange-text text-darken-2" href="/tarefa/todasTarefas">Todas Tarefas</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="">Minhas Tarefas</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="/projeto/todosProjetos">Projetos</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="/todosMateriais">Ferramentas e Materiais</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="/todosFornecedores">Fornecedores</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="">Gerenciamento de Propostas</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="">Configurações</a></b></li>
            <li><a class="orange-text text-darken-2" href=""><i class="orange-text text-darken-2 material-icons left">person</i>Julia</a></li>
        </ul>
    </div>
</nav>

    <h3 style="padding: 0px 0px 10px 40px;">Cadastro de Tarefa</h3>

    <h3 style="padding: 0px 0px 40px 40px;"><a href="/projeto/todosProjetos" class="orange darken-2 waves-effect waves-light btn"><i
            class="material-icons left">format_list_bulleted</i>Todas Tarefas</a></h3>

    <form style="padding: 0px 0px 40px 0px" class="container" method="post">
        <div class="row">
            <div class="input-field col s6">
                ID: <input type="text" value="" name="id"/>
            </div>
            <div class="input-field col s6">
                Nome: <input type="text" value="" name="nome"/>
            </div>
            <div class="input-field col s6">
                Tipo Projeto: <input type="text" value="" name="tipoProjeto"/>
            </div>
            <div class="input-field col s6">
                Status Projeto: <input type="text" value="" name="statusProjeto"/>
            </div>
            <div class="input-field col s6">
                Data Inicial: <input type="text" value="" name="dataInicial"/>
            </div>
            <div class="input-field col s6">
                Previsão Término: <input type="text" value="" name="previsaoTermino"/>
            </div>
        </div>
        <button class="orange darken-2 waves-effect waves-light btn" type="submit">Salvar</button>
    </form>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
</body>
</html>