<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tarefas</title>
</head>
<body>

    <nav>
        <div class="grey lighten-2 nav-wrapper">
            <img style="max-height: 56px; width: auto; height: auto;" src="../images/Logo ABControl - Sem fundo.png" alt="ABControl" />
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><b><a class="orange-text text-darken-2" href="">Todas Tarefas</a></b></li>
                <li><b><a class="orange-text text-darken-2" href="">Minhas Tarefas</a></b></li>
                <li><b><a class="orange-text text-darken-2" href="/projeto/todosProjetos">Projetos</a></b></li>
                <li><b><a class="orange-text text-darken-2" href="/material/todosMateriais">Ferramentas e Materiais</a></b></li>
                <li><b><a class="orange-text text-darken-2" href="">Gerenciamento de Propostas</a></b></li>
                <li><b><a class="orange-text text-darken-2" href="">Configurações</a></b></li>
                <li><a class="orange-text text-darken-2" href=""><i class="orange-text text-darken-2 material-icons left">person</i>Julia</a></li>
            </ul>
        </div>
    </nav>

    <h3 style="padding: 0px 0px 10px 40px;">Edição de Projeto</h3>

    <span style="padding: 0px 0px 40px 40px;"><a href="/projeto/todosProjetos" class="orange darken-2 waves-effect waves-light btn"><i
            class="material-icons left">format_list_bulleted</i>Todos Projetos</a></span>

    <span style="padding: 0px 0px 40px 40px;"><a href="/projeto/cadastrarProjeto" class="orange darken-2 waves-effect waves-light btn">
        <i class="material-icons left">add_circle_outline</i>Cadastrar Projeto</a></span>

    <!--action="${#mvcUrl('PC#editarProjeto_cadastrar').build()}"-->

    <form style="padding: 40px 0px 40px 0px" class="container" method="post">
        <div class="row">
            <div class="input-field col s6">
                ID: <input type="text" th:field="*{projeto.id}" name="id"/>
            </div>
            <div class="input-field col s6">
                Nome: <input type="text" th:field="*{projeto.nome}" name="nome"/>
            </div>
            <div class="input-field col s6">
                Tipo Projeto: <input type="text" th:field="*{projeto.tipoProjeto}" name="tipoProjeto"/>
            </div>
            <div class="input-field col s6">
                Status Projeto: <input type="text" th:field="*{projeto.statusProjeto}" name="statusProjeto"/>
            </div>
            <div class="input-field col s6">
                Data Inicial: <input type="text" th:field="*{projeto.dataInicial}" name="dataInicial"/>
            </div>
            <div class="input-field col s6">
                Previsão Término: <input type="text" th:field="*{projeto.previsaoTermino}" name="previsaoTermino"/>
            </div>
            <div class="input-field col s12">
                Obra 1: <input type="text" th:field="*{projeto.obra[0]}" name="obra"/>
            </div>
            <div class="input-field col s12">
                Obra 2: <input type="text" th:field="*{projeto.obra[1]}" name="obra"/>
            </div>
            <div class="input-field col s12">
                Obra 3: <input type="text" th:field="*{projeto.obra[2]}" name="obra"/>
            </div>
            <div class="input-field col s12">
                Obra 4: <input type="text" th:field="*{projeto.obra[3]}" name="obra"/>
            </div>
            <div class="input-field col s12">
                Obra 5: <input type="text" th:field="*{projeto.obra[4]}" name="obra"/>
            </div>
            <div class="input-field col s12">
                Tarefa 1: <input type="text" th:field="*{projeto.tarefa[0]}" name="tarefa"/>
            </div>
            <div class="input-field col s12">
                Tarefa 2: <input type="text" th:field="*{projeto.tarefa[1]}" name="tarefa"/>
            </div>
            <div class="input-field col s12">
                Tarefa 3: <input type="text" th:field="*{projeto.tarefa[2]}" name="tarefa"/>
            </div>
            <div class="input-field col s12">
                Tarefa 4: <input type="text" th:field="*{projeto.tarefa[3]}" name="tarefa"/>
            </div>
            <div class="input-field col s12">
                Tarefa 5: <input type="text" th:field="*{projeto.tarefa[4]}" name="tarefa"/>
            </div>
            <div class="input-field col s12">
                Equipe 1: <input type="text" th:field="*{projeto.equipe[0]}" name="equipe"/>
            </div>
            <div class="input-field col s12">
                Equipe 2: <input type="text" th:field="*{projeto.equipe[1]}" name="equipe"/>
            </div>
            <div class="input-field col s12">
                Equipe 3: <input type="text" th:field="*{projeto.equipe[2]}" name="equipe"/>
            </div>
            <div class="input-field col s12">
                Equipe 4: <input type="text" th:field="*{projeto.equipe[3]}" name="equipe"/>
            </div>
            <div class="input-field col s12">
                Equipe 5: <input type="text" th:field="*{projeto.equipe[4]}" name="equipe"/>
            </div>
            <div class="input-field col s12">
                Anexo 1: <input type="text" th:field="*{projeto.anexo[0]}" name="anexo"/>
            </div>
            <div class="input-field col s12">
                Anexo 2: <input type="text" th:field="*{projeto.anexo[1]}" name="anexo"/>
            </div>
            <div class="input-field col s12">
                Anexo 3: <input type="text" th:field="*{projeto.anexo[2]}" name="anexo"/>
            </div>
            <div class="input-field col s12">
                Anexo 4: <input type="text" th:field="*{projeto.anexo[3]}" name="anexo"/>
            </div>
            <div class="input-field col s12">
                Anexo 5: <input type="text" th:field="*{projeto.anexo[4]}" name="anexo"/>
            </div>
            <div class="input-field col s12">
                Orçamento Geral 1: <input type="text" th:field="*{projeto.orcamentoGeral[0]}" name="orcamentoGeral"/>
            </div>
            <div class="input-field col s12">
                Orçamento Geral 2: <input type="text" th:field="*{projeto.orcamentoGeral[1]}" name="orcamentoGeral"/>
            </div>
            <div class="input-field col s12">
                Orçamento Geral 3: <input type="text" th:field="*{projeto.orcamentoGeral[2]}" name="orcamentoGeral"/>
            </div>
            <div class="input-field col s12">
                Orçamento Geral 4: <input type="text" th:field="*{projeto.orcamentoGeral[3]}" name="orcamentoGeral"/>
            </div>
            <div class="input-field col s12">
                Orçamento Geral 5: <input type="text" th:field="*{projeto.orcamentoGeral[4]}" name="orcamentoGeral"/>
            </div>
            <div class="input-field col s12">
                Orçamento Simulação Geral 1: <input type="text" th:field="*{projeto.orcamentoSimulacaoGeral[0]}" name="orcamentoSimulacaoGeral"/>
            </div>
            <div class="input-field col s12">
                Orçamento Simulação Geral 2: <input type="text" th:field="*{projeto.orcamentoSimulacaoGeral[1]}" name="orcamentoSimulacaoGeral"/>
            </div>
            <div class="input-field col s12">
                Orçamento Simulação Geral 3: <input type="text" th:field="*{projeto.orcamentoSimulacaoGeral[2]}" name="orcamentoSimulacaoGeral"/>
            </div>
            <div class="input-field col s12">
                Orçamento Simulação Geral 4: <input type="text" th:field="*{projeto.orcamentoSimulacaoGeral[3]}" name="orcamentoSimulacaoGeral"/>
            </div>
            <div class="input-field col s12">
                Orçamento Simulação Geral 5: <input type="text" th:field="*{projeto.orcamentoSimulacaoGeral[4]}" name="orcamentoSimulacaoGeral"/>
            </div>

        </div>
        <button class="orange darken-2 waves-effect waves-light btn" type="submit">Salvar</button>
    </form>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
</body>
</html>