<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Todos materiais</title>
</head>
<body>

<nav>
    <div class="grey lighten-2 nav-wrapper">
        <img style="max-height: 56px; width: auto; height: auto;" src="images/Logo ABControl - Sem fundo.png" alt="ABControl" />
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><b><a class="orange-text text-darken-2" href="/todasTarefas">Todas Tarefas</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="/todasTarefas">Minhas Tarefas</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="">Projetos</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="/todosMateriais">Ferramentas e Materiais</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="/todosFornecedores">Fornecedores</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="">Gerenciamento de Propostas</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="">Configurações</a></b></li>
            <li><a class="orange-text text-darken-2" href=""><i class="orange-text text-darken-2 material-icons left">person</i>Julia</a></li>
        </ul>
    </div>
</nav>


    <h3 style="padding: 0px 0px 10px 40px;">Todos materiais</h3>
    <h3 style="padding: 0px 0px 40px 40px;"><a href="/cadastrarMaterial" class="orange darken-2 waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar material</a></h3>
    <table class="container">

        <thead>
            <th>id</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Unidade</th>
            <th>Valor unitário</th>
            <th>Fornecedor</th>
        </thead>

        <tbody>
            <tr th:each="material : ${materiais}">
                <td><span th:text="${material.id}"></span></td>
                <td><span th:text="${material.descricao}"></span></td>
                <td><span th:text="${material.tipoMaterial}"></span></td>
                <td><span th:text="${material.tipoUnidade}"></span></td>
                <td><span th:text="${material.valorUnidade}"></span></td>
                <td><span th:text="${material.fornecedor}"></span></td>
            </tr>
        </tbody>

    </table>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>