<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Editar material</title>
</head>
<body>

<nav>
    <div class="grey lighten-2 nav-wrapper">
        <img style="max-height: 56px; width: auto; height: auto;" src="../images/Logo ABControl - Sem fundo.png" alt="ABControl" />
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><b><a class="orange-text text-darken-2" href="">Todas Tarefas</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="">Minhas Tarefas</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="/projeto/todosProjetos">Projetos</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="/material/todosMateriais">Ferramentas e Materiais</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="">Gerenciamento de Propostas</a></b></li>
            <li><b><a class="orange-text text-darken-2" href="">Configurações</a></b></li>
            <li><a class="orange-text text-darken-2" href=""><i class="orange-text text-darken-2 material-icons left">person</i>Julia</a></li>
        </ul>
    </div>
</nav>

<h3 style="padding: 0px 0px 10px 40px;">Edição de Material</h3>
<span style="padding: 0px 0px 40px 40px;"><a href="/material/todosMateriais" class="orange darken-2 waves-effect waves-light btn">
        <i class="material-icons left">format_list_bulleted</i>Todos Materiais</a></span>

<span style="padding: 0px 0px 40px 40px;"><a href="/material/cadastrarMaterial" class="orange darken-2 waves-effect waves-light btn">
        <i class="material-icons left">add_circle_outline</i>Cadastrar material</a></span>
        
<form style="padding: 40px 0px 40px 0px" class="container" method="post">
    <div class="row">
        <div class="input-field col s3">
            ID: <input type="text" th:field="*{material.id}" name="id"/>
        </div>
        <div class="input-field col s9">
            Descrição: <input type="text" th:field="*{material.descricao}" name="descricao"/>
        </div>
        <div class="input-field col s12">
            Tipo: <input type="text" th:field="*{material.tipoMaterial}" name="tipoMaterial"/>
        </div>
        <div class="input-field col s12">
            Unidade: <input type="text" th:field="*{material.tipoUnidade}" name="tipoUnidade"/>
        </div>
        <div class="input-field col s12">
            Valor unitário: <input type="text" th:field="*{material.valorUnidade}" name="valorUnidade"/>
        </div>
        <div class="input-field col s12">
            Fornecedor: <input type="text" th:field="*{material.fornecedor}" name="fornecedor"/>
        </div>
    </div>
    <button class="orange darken-2 waves-effect waves-light btn" type="submit">Salvar</button>
</form>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>